<div class="container-flex">
  <ul class="nav nav-pills">
    <li class="nav-item">
        <img
          id="logo"
          class="img-fluid"
          src="../../../assets/magnus-legio-logo.png"
          alt="magnus legio logo"
        />
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Sobre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/members">Membros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Contato</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Treinos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/swordplay">Swordplay</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/orders">Treino - Orders</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/activityoffered">Atividades oferecidas</a>
    </li>

    <div class="container-dropdown" *ngIf="isLogged; else btn_login">
      <!-- Dropdowm para navegar quando estiver logado-->
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            user name
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>
      </li>
    </div>

    <ng-template class="container-dropdown" #btn_login>
      <li class="nav-item">
        <button type="button" class="btn btn-primary" (click)="login()">
          Login
        </button>
      </li>
    </ng-template>
  </ul>
</div>
