<form>
  <!-- dados sobre nome -->
  
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="firstName">Nome</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        id="firstName"
        [value]="[member.firstName]"
      />
    </div>
    <div class="form-group col-md-5">
      <label for="lastName">Sobrenome</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        id="lastName"
        [value]="[member.lastName]"
        disabled
      />
    </div>
  </div>

  <!-- dados sobre endereço -->
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="street">Rua</label>
      <input
        type="text"
        class="form-control"
        name="street"
        id="street"
        [value]="[member.address.street]"
        disabled
      />
    </div>

    <div class="form-group col-md-3">
      <label for="number">Numero</label>
      <input
        type="text"
        class="form-control"
        name="number"
        id="number"
        [value]="[member.address.number]"
        disabled
      />
    </div>

    <div class="form-group col-md-3">
      <label for="neighborhood">Bairro</label>
      <input
        type="text"
        class="form-control"
        name="neighborhood"
        id="neighborhood"
        [value]="[member.address.neighborhood]"
        disabled
      />
    </div>

    <div class="form-group col-md-3">
      <label for="city">Cidade</label>
      <input
        type="text"
        class="form-control"
        name="city"
        id="city"
        [value]="[member.address.city]"
        disabled
      />
    </div>
  </div>

  <!-- dados sobre contatos -->
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="phone">Telefone</label>
      <input
        type="tel"
        class="form-control"
        name="phone"
        id="phone"
        [value]="[member.contacts.phone]"
        disabled
      />
    </div>
    <div class="form-group col-md-4">
      <label for="cel">Celular</label>
      <input
        type="tel"
        class="form-control"
        name="cel"
        id="cel"
        [value]="[member.contacts.cel]"
        disabled
      />
    </div>

    <div class="form-group col-md-4">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        [value]="[member.contacts.email]"
        disabled
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="birth">Data de nascimento</label>
      <input
        type="date"
        class="form-control"
        name="birth"
        id="birth"
        [value]="[member.birthDate]"
        disabled
      />
    </div>
  </div>

  <app-member-participations-read [memberParticipations]="member.participations"></app-member-participations-read>
  <div class="form-row">
    <div class="pull-righ">
      <button
        type="button"
        class="btn btn-primary"
        (click)="goToUpdateMember()"
      >
        Atualizar
      </button>
    </div>
    <div class="pull-righ">
      <button type="button" class="btn btn-danger" (click)="deleteMember()">
        Deletar
      </button>
    </div>
    <div class="pull-righ">
      <button type="button" class="btn btn-secondary" (click)="backPage()">
        Fechar
      </button>
    </div>
  </div>
</form>
