.container-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.ul-flex {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

img {
    width: 15vw;
    height: 25vh;
}

li {
    list-style-type: none;
    margin: 10px;
}