<div class="container-flex">
    <img src="../../../assets/magnus-legio-logo.png" alt="magnus legio logo" />
    <nav>
        <ul class="ul-flex">
            <li><a routerLink='/'>Sobre</a></li>
            <li><a routerLink='/members'>Membros</a></li>
            <li><a routerLink='/'>Contato</a></li>
            <li><a routerLink='/'>Treinos</a></li>
            <li><a routerLink='/swordplay'>Swordplay</a></li>
            <li><a routerLink='/login'>Login</a></li>
            <li><a routerLink='/orders'>Treino - Orders</a></li>
        </ul>
    </nav>
</div>