<form class="mycontainer" [formGroup]="formMember">
  <!-- dados sobre nome -->
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="firstName">Nome</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        id="firstName"
        formControlName="firstName"
      />

      <app-alert
        alertType="alert-danger"
        [name]="firstName"
        [conditions]="firstNameCondition"
      ></app-alert>
    </div>
    <div class="form-group col-md-5">
      <label for="lastName">Sobrenome</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        id="lastName"
        formControlName="lastName"
      />
      <app-alert
        alertType="alert-danger"
        [name]="lastName"
        [conditions]="lastNameCondition"
      ></app-alert>
    </div>
  </div>

  <!-- dados sobre endereço -->
  <div class="form-row" formGroupName="address">
    <div class="form-group col-md-3">
      <label for="street">Rua</label>
      <input
        type="text"
        class="form-control"
        name="street"
        id="street"
        formControlName="street"
      />

      <app-alert
        alertType="alert-danger"
        [name]="street"
        [conditions]="streetCondition"
      ></app-alert>
    </div>

    <div class="form-group col-md-3">
      <label for="number">Numero</label>
      <input
        type="text"
        class="form-control"
        name="number"
        id="number"
        formControlName="number"
      />
      <app-alert
        alertType="alert-danger"
        [name]="number"
        [conditions]="numberCondition"
      ></app-alert>
    </div>

    <div class="form-group col-md-3">
      <label for="neighborhood">Bairro</label>
      <input
        type="text"
        class="form-control"
        name="neighborhood"
        id="neighborhood"
        formControlName="neighborhood"
      />
      <app-alert
        alertType="alert-danger"
        [name]="neighborhood"
        [conditions]="neighborhoodCondition"
      ></app-alert>
    </div>

    <div class="form-group col-md-3">
      <label for="city">Cidade</label>
      <input
        type="text"
        class="form-control"
        name="city"
        id="city"
        formControlName="city"
      />
    </div>
    <app-alert
      alertType="alert-danger"
      [name]="city"
      [conditions]="cityCondition"
    ></app-alert>
  </div>

  <!-- dados sobre contatos -->
  <div class="form-row" formGroupName="contacts">
    <div class="form-group col-md-4">
      <label for="phone">Telefone</label>
      <input
        type="tel"
        class="form-control"
        name="phone"
        id="phone"
        formControlName="phone"
      />
      <app-alert alertType="alert-danger" [name]='phone'[conditions]=phoneCondition ></app-alert>
    </div>
    <div class="form-group col-md-4">
      <label for="cel">Celular</label>
      <input
        type="tel"
        class="form-control"
        name="cel"
        id="cel"
        formControlName="cel"
      />
      <app-alert alertType="alert-danger" [name]='cel'[conditions]=celCondition ></app-alert>
    </div>

    <div class="form-group col-md-4">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        formControlName="email"
      />
      <app-alert alertType="alert-danger" [name]='email'[conditions]=emailCondition ></app-alert>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="birth">Data de nascimento</label>
      <input
        type="date"
        class="form-control"
        name="birth"
        id="birth"
        formControlName="birthDate"
      />
      <app-alert alertType="alert-danger" [name]='birthDate'[conditions]=birthDateCondition ></app-alert>
    </div>
  </div>

  <div class="form-row">
    <div class="pull-righ">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="submitRegister()"
        [disabled]="formMember.invalid"
      >
        Enviar cadastro
      </button>
    </div>
    <div class="pull-righ">
      <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </div>
</form>
