<form [formGroup]="formMember">
  <!-- dados sobre nome -->
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="firstName">Nome</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        id="firstName"
        formControlName="firstName"
      />
      <div *ngIf="formMember.controls.firstName.invalid">
        <p>Campo firstName invalido</p>
      </div>
    </div>
    <div class="form-group col-md-5">
      <label for="lastName">Sobrenome</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        id="lastName"
        formControlName="lastName"
      />
      <div *ngIf="formMember.controls.lastName.invalid">
        <p>Campo lastName invalido</p>
      </div>
    </div>
  </div>

  <!-- dados sobre endereço -->
  <div class="form-row" formGroupName="address">
    <div class="form-group col-md-3">
      <label for="street">Rua</label>
      <input
        type="text"
        class="form-control"
        name="street"
        id="street"
        formControlName="street"
      />
      <div *ngIf="formMember.get('address').get('street').invalid">
        <p>Campo street invalido</p>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="number">Numero</label>
      <input
        type="text"
        class="form-control"
        name="number"
        id="number"
        formControlName="number"
      />
      <div *ngIf="formMember.get('address').get('number').invalid">
        <p>Campo number invalido</p>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="neighborhood">Bairro</label>
      <input
        type="text"
        class="form-control"
        name="neighborhood"
        id="neighborhood"
        formControlName="neighborhood"
      />
      <div *ngIf="formMember.get('address').get('neighborhood').invalid">
        <p>Campo neighborhood invalido</p>
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="city">Cidade</label>
      <input
        type="text"
        class="form-control"
        name="city"
        id="city"
        formControlName="city"
      />
    </div>
    <div *ngIf="formMember.get('address').get('city').invalid">
      <p>Campo city invalido</p>
    </div>
  </div>

  <!-- dados sobre contatos -->
  <div class="form-row" formGroupName="contacts">
    <div class="form-group col-md-4">
      <label for="phone">Telefone</label>
      <input
        type="tel"
        class="form-control"
        name="phone"
        id="phone"
        formControlName="phone"
      />
      <div *ngIf="formMember.get('contacts').get('phone').invalid">
        <p>Campo phone invalido</p>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="cel">Celular</label>
      <input
        type="tel"
        class="form-control"
        name="cel"
        id="cel"
        formControlName="cel"
      />
      <div *ngIf="formMember.get('contacts').get('cel').invalid">
        <p>Campo cel invalido</p>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        formControlName="email"
      />
      <div *ngIf="formMember.get('contacts').get('email').invalid">
        <p>Campo email invalido</p>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="birth">Data de nascimento</label>
      <input
        type="date"
        class="form-control"
        name="birth"
        id="birth"
        formControlName="birthDate"
      />
      <div *ngIf="formMember.get('birthDate').invalid">
        <p>Campo birthDate invalido</p>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="pull-righ">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="submitRegister()"
        [disabled]="!formMember.valid"
      >
        Enviar cadastro
      </button>
    </div>
    <div class="pull-righ">
      <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </div>
</form>
